<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">  
    <head>
        <title>Dodaj bilet</title>
    </head>
    <body>
        <div layout:fragment="content" class="container mt-2">
            <form th:action="@{/bilet/add}" method="POST" th:object="${bilet}">

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">  
                        <div class="form-group">    
                            <label> Klasa </label>
                            <input class=form-control type="number" min="1" max="2" step="1" th:field="${bilet.klasa}" required/>          
                        </div>  
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center"> 
                        <div class="form-group">  
                            <label> Kurs </label>
                            <select class="form-control" name="kurs">
                                <option value="">Wybierz kurs</option>
                                <option th:each="kurs : ${kursList}"
                                        th:value="${kurs.idKursu}"
                                        th:text="${kurs.pociag} ? ${#strings.substring(kurs.dataKursu,8,10)} + '-' +  ${#strings.substring(kurs.dataKursu,5,7)} 
                                             +'-'+ ${#strings.substring(kurs.dataKursu,0,4)}  + ' ' +${#strings.substring(kurs.dataKursu,11,13)}
                                             + ':' +${#strings.substring(kurs.dataKursu,14,16)}+', '+ ${kurs.pociag.stacjaPoczatkowa} 
                                        + ' - ' + ${kurs.pociag.stacjaKoncowa} : ${#strings.substring(kurs.dataKursu,8,10)} + '-' +  ${#strings.substring(kurs.dataKursu,5,7)} 
                                             +'-'+ ${#strings.substring(kurs.dataKursu,0,4)}  + ' ' +${#strings.substring(kurs.dataKursu,11,13)}
                                             + ':' +${#strings.substring(kurs.dataKursu,14,16)}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center"> 
                        <div class="form-group">  
                            <label> Pasażer </label>
                            <select class="form-control" name="pasazer">
                                <option value="">Wybierz pasażera</option>
                                <option th:each="pasazer : ${pasazerList}"
                                        th:value="${pasazer.idPasazera}"
                                        th:text="${pasazer.imie}+' '+${pasazer.nazwisko} 
                                        + ' - ' + ${pasazer.pesel}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center"> 
                        <div class="form-group">  
                            <label> Zniżka </label>
                            <select class="form-control" name="znizka">
                                <option value="">Wybierz zniżkę</option>
                                <option th:each="znizka : ${znizkaList}"
                                        th:value="${znizka.idZnizki}"
                                        th:text="${znizka.opis}+' '+${znizka.procentZnizki} + '%'">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 text-center">  
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
