<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">  
    <head>
        <title>Edycja biletu</title>
    </head>
    <body>
        <div layout:fragment="content" class="container mt-2">
            <form method="POST" th:object="${bilet}">                
                <div class="row" >                 
                    <div class="col-md-4 offset-md-4 text-center">                         
                        <div class="form-group">                                          
                            <label> Data zakupu </label>
                            <input class=form-control type="datetime-local" th:field="${bilet.dataZakupu}" required/>           
                        </div>    
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">  
                        <div class="form-group">    
                            <label> Klasa </label>
                            <input class=form-control type="number" min="1" max="2" step="1" th:field="${bilet.klasa}" required/>          
                        </div>  
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">  
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </body>
</html>
