<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">  
    <head>
        <title>Edycja kursu</title>
    </head>
    <body>
        <div layout:fragment="content" class="container mt-2">
            <form method="POST" th:object="${kurs}"> 
                <div class="row">                 
                    <div class="col-md-4 offset-md-4 text-center">                         
                        <div class="form-group">   
                            <label> Data kursu </label>
                            <input class="form-control" type="datetime-local" th:field="${kurs.dataKursu}" required/>        
                        </div>    
                    </div>    
                </div>

                <div class="row" >                 
                    <div class="col-md-4 offset-md-4 text-center">                         
                        <div class="form-group">                                          
                            <label> Miejsca w pierwszej klasie </label>
                            <input class=form-control type="number" min="0" th:field="${kurs.miejscaPierwszaKlasa}" required/>         
                        </div>    
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">  
                        <div class="form-group">    
                            <label> Miejsca w drugiej klasie </label>
                            <input class=form-control type="number" min="0" th:field="${kurs.miejscaDrugaKlasa}"/>           
                        </div>  
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-4 offset-md-4 text-center"> 
                        <div class="form-group">  
                            <label> Pociąg </label>
                            <select class="form-control" name="pociag">
                                
                                <option
                                    th:value="${kurs.pociag} ? ${kurs.pociag.idPociagu} : ''" 
                                    th:text="${kurs.pociag} ? ${kurs.pociag.nazwa}+'  '+${kurs.pociag.stacjaPoczatkowa}
                                    +' '+${kurs.pociag.stacjaKoncowa} : 'Wybierz pociąg'">          
                                </option>
                                
                                <option value="">Wybierz pociąg</option>
                                <option th:each="pociag : ${pociagList}"
                                        th:if="${pociag.nazwa != ''}"
                                        th:value="${pociag.idPociagu}"
                                        th:text="${pociag.nazwa}+',  '+${pociag.stacjaPoczatkowa} 
                                        + ' - ' + ${pociag.stacjaKoncowa}">
                                </option>
                                <option th:each="pociag : ${pociagList}"
                                        th:if="${pociag.nazwa == ''}"
                                        th:value="${pociag.idPociagu}"
                                        th:text="${pociag.stacjaPoczatkowa} 
                                        + ' - ' + ${pociag.stacjaKoncowa}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 text-center">  
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
