<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">  
    <head>
        <title>Edycja pociągu</title>
    </head>
    <body>
        <div layout:fragment="content" class="container mt-2">
            <form th:action="@{|/pociag/edit/${id}|}" method="POST" th:object="${pociag}">                
                <div class="row" >                 
                    <div class="col-md-4 offset-md-4 text-center">                         
                        <div class="form-group">                                          
                            <label> Nazwa pociągu </label>
                            <input class=form-control type="text" th:field="${pociag.nazwa}" placeholder="Opcjonalne"/>           
                        </div>    
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">  
                        <div class="form-group">    
                            <label> Stacja początkowa </label>
                            <input class=form-control type="text" th:field="${pociag.stacjaPoczatkowa}" required/>          
                        </div>  
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">  
                        <div class="form-group">    
                            <label> Stacja końcowa </label>
                            <input class=form-control type="text" th:field="${pociag.stacjaKoncowa}"/>            
                        </div> 
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">  
                        <div class="form-group">    
                            <label> Cena w pierwszej klasie </label>
                            <input class=form-control type="number" min="0" step="0.01" th:field="${pociag.cenaPierwszaKlasa}" required/>           
                        </div> 
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">  
                        <div class="form-group">    
                            <label> Cena w drugiej klasie </label>
                            <input class=form-control type="number" min="0" step="0.01" th:field="${pociag.cenaDrugaKlasa}" required/>           
                        </div> 
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center"> 
                        <div class="form-group">  
                            <label> Maszynista </label>
                            <select class="form-control" name="maszynista">
                                 <option
                                    th:value="${pociag.maszynista} ? ${pociag.maszynista.idMaszynisty} : ''" 
                                    th:text="${pociag.maszynista} ? ${pociag.maszynista.imie}+'  '+
                                    ${pociag.maszynista.nazwisko} +' - '+${pociag.maszynista.pesel} : 'Wybierz maszynistę'">          
                                </option>
                                <option value="">Wybierz maszynistę</option>
                                <option th:each="maszynista : ${maszynistaList}"
                                        th:value="${maszynista.idMaszynisty}"
                                        th:text="${maszynista.imie}+' '+${maszynista.nazwisko} 
                                        + ' - ' + ${maszynista.pesel}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 text-center">  
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
