<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">     
    <head>
        <script type="text/javascript" src="/js/search.js"></script>
        <title>Lista kursów</title>               
    </head>

    <body>       
        <div layout:fragment="content" class="container mt-2">
            <div class="col-md-6 offset-md-3 text-center">
                <div class="alert alert-info alert-dismissible fade show" th:if="${#lists.isEmpty(kursList)}" role="alert">
                    Brak kursów do wyświetlenia!
                </div> 
            </div> 

            <div class="row text-center">
                <div class="col-md-12">
                    <div th:if="${not #lists.isEmpty(kursList)}" class="table-responsive mt-2">
                        <table id="table" class="table">          
                            <thead>
                                <tr class="active">
                                    <th>Data kursu</th>  
                                    <th>Wolne pierwsza klasa</th>  
                                    <th>Wolne druga klasa</th>
                                    <th>Stacja początkowa</th>
                                    <th>Stacja końcowa</th>
                                    <th sec:authorize="!hasRole('ROLE_admin') and !hasRole('ROLE_maszynista')">Zakup</th>
                                </tr>

                            </thead>
                            <tbody>                       
                                <tr th:each ="kurs : ${kursList}">                                     
                                    <td> <b  th:text="${#strings.substring(kurs.dataKursu,8,10)} + '-' +  ${#strings.substring(kurs.dataKursu,5,7)} 
                                             +'-'+ ${#strings.substring(kurs.dataKursu,0,4)}  + ' ' +${#strings.substring(kurs.dataKursu,11,13)}
                                             + ':' +${#strings.substring(kurs.dataKursu,14,16)} ">...</b> </td>
                                    <td> <b  th:text="${kurs.miejscaPierwszaKlasa} - ${kurs.sprzedanePierwszaKlasa} ">...</b> </td>
                                    <td> <b  th:text="${kurs.miejscaDrugaKlasa} - ${kurs.sprzedaneDrugaKlasa}">...</b> </td>
                                    <td> <b  th:text="${kurs.pociag.stacjaPoczatkowa}">...</b> </td>
                                    <td> <b  th:text="${kurs.pociag.stacjaKoncowa}">...</b> </td>
                                    <td sec:authorize="!hasRole('ROLE_admin') and !hasRole('ROLE_maszynista')"> <a class="btn btn-primary " th:href="@{'/klient/zakup/' + ${kurs.idKursu}}">Kup</a></td>
                                </tr>
                            </tbody>          
                        </table>    
                    </div>    
                </div>  
            </div>

        </div>

    </body>
</html>

