<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">  
    <head>
        <title>Rejestracja udana</title>
    </head>
    <body>
        <div layout:fragment="content" class="container mt-2">
            <div class="alert alert-success">
                <p class="text text-center">
                    Rejestracja udana!!      
                </p>
                <p class="text text-center">
                    Zaloguj się, aby kontynuować      
                </p>
            </div>
        </div>
    </div>
</body>
</html>
