<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">  
    <head>
        <title>Dodaj pasażera</title>
    </head>
    <body>
        <div layout:fragment="content" class="container fill mt-2">
            <form th:action="@{/pasazer/add}" method="POST" th:object="${pasazer}">
                <div class="row">        
                    <div class="col-md-4 offset-md-4 text-center">                         
                        <div class="form-group">    
                            <label> Imię </label>
                            <input class=form-control type="text" id="imie" th:field="${pasazer.imie}" required/>           
                            <div class="text text-danger" th:if="${#fields.hasErrors('imie')}" th:errors="${pasazer.imie}"></div>
                        </div>    
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">  
                        <div class="form-group">    
                            <label> Nazwisko </label>
                            <input class=form-control type="text" id="nazwisko" th:field="${pasazer.nazwisko}" required/>          
                            <div class="text text-danger" th:if="${#fields.hasErrors('nazwisko')}" th:errors="${pasazer.nazwisko}"></div>
                        </div>  
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">  
                        <div class="form-group">    
                            <label> Pesel </label>
                            <input class=form-control type="text" id="pesel" th:field="${pasazer.pesel}" required/>            
                            <div class="text text-danger" th:if="${#fields.hasErrors('pesel')}" th:errors="${pasazer.pesel}"></div>
                        </div> 
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center"> 
                        <div class="form-group">  
                            <label> Adres </label>
                            <select class="form-control" name="adres">
                                <option value="">Wybierz adres</option>
                                <option th:each="adres : ${adresList}"
                                        th:if="${adres.numerMieszkania != ''}"
                                        th:value="${adres.idAdresu}"
                                        th:text="${adres.ulica}+' '+${adres.numerDomu} + '/' +
                                        ${adres.numerMieszkania} + ',  ' + ${adres.kodPocztowy}
                                        + ' ' + ${adres.miejscowosc}">
                                </option>
                                <option th:each="adres : ${adresList}"
                                        th:if="${adres.numerMieszkania == ''}"
                                        th:value="${adres.idAdresu}"
                                        th:text="${adres.ulica}+' '+${adres.numerDomu}
                                        + ',  ' + ${adres.kodPocztowy} + ' ' + ${adres.miejscowosc}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center"> 
                        <div class="form-group">  
                            <label> Użytkownik </label>
                            <select class="form-control" name="uzytkownik">
                                <option value="">Wybierz użytkownika</option>
                                <option th:each="uzytkownik : ${uzytkownikList}"        
                                        th:value="${uzytkownik.email}"
                                        th:text="${uzytkownik.email}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 text-center">  
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>

            </form>
        </div>
    </body>
</html>
