<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">  
    <head>
        <title>Dodaj kierowcę</title>
    </head>
    <body>
        <div layout:fragment="content" class="container mt-2">
            <form method="POST" th:object="${pasazer}">
                <div class="row">        
                    <div class="col-md-4 offset-md-4 text-center">                         
                        <div class="form-group">    
                            <label> Imię </label>
                            <input class=form-control type="text" th:field="${pasazer.imie}" required/>           
                        </div>    
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">  
                        <div class="form-group">    
                            <label> Nazwisko </label>
                            <input class=form-control type="text" th:field="${pasazer.nazwisko}" required/>          
                        </div>  
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">  
                        <div class="form-group">    
                            <label> Pesel </label>
                            <input class=form-control type="number" th:field="${pasazer.pesel}" required/>            
                        </div> 
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">  
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>

            </form>
        </div>
        </div>
    </body>
</html>
