<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">  
    <head>        
        <title>Lista użytkowników</title>               
    </head>

    <body>
        <div layout:fragment="content" class="container mt-2">                
            <div class="row">
                <div class="col-md-4">
                    <a href="add" class="btn btn-info" role="button">Dodaj użytkownika</a>
                </div>
            </div>
            <div class="table-responsive mt-2">
                <table class="table table-bordered table-striped">          
                    <thead class="thead-dark">
                        <tr  class="active">
                            <th>E-mail</th>  
                            <th>Hasło</th> 
                            <th>Uprawnienia</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody>                       
                        <tr th:each ="uzytkownik : ${uzytkownikList}">                                     
                            <td> <b  th:text="${uzytkownik.email}">...</b> </td>
                            <td> <b  th:password="${uzytkownik.haslo}">...</b> </td>
                            <td>  
                                <div class="form-check" th:each="uprawnienia : ${uzytkownik.uprawnienia}">
                                    <label class="form-check-label" th:text="${uprawnienia.nazwa}"></label>
                                </div>
                            </td>
                            <td>
                                <a class="font-weight-bold" style="text-decoration: none" th:href="@{'edit/' + ${uzytkownik.email}}">Edytuj</a>
                                &nbsp; &nbsp;
                                <a class="font-weight-bold" style="text-decoration: none" th:href="@{'delete/' + ${uzytkownik.email}}">Usuń</a>
                            </td>               
                        </tr>
                    </tbody>          
                </table>    
            </div>    
        </div>
    </body>
</html>

