<header th:fragment="header">
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg fixed-top">

        <a class="navbar-brand" sec:authorize="!isAuthenticated()" href="/"><img src="/img/logo.png" width="30" height="30" class="d-inline-block mr-1 align-bottom" alt="">Bilety.pl</a>
        <a class="navbar-brand" sec:authorize="isAuthenticated()" href="/profile"><img src="/img/logo.png" width="30" height="30" class="d-inline-block mr-1 align-bottom" alt="">Bilety.pl</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Navigation switch">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainmenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="!isAuthenticated()" href="/"> Strona Główna </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="isAuthenticated()" href="/profile"> Strona Główna </a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ROLE_admin') or hasRole('ROLE_maszynista') ">
                    <a class="nav-link active" href="/obsluga/edit"> Profil </a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ROLE_admin')">
                    <a class="nav-link active" href="/adres/list"> Adresy </a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ROLE_admin')">
                    <a class="nav-link active" href="/kurs/list"> Kursy </a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ROLE_admin')">
                    <a class="nav-link active" href="/maszynista/list"> Maszyniści </a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ROLE_admin')">
                    <a class="nav-link active" href="/pasazer/list"> Pasażerowie </a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ROLE_admin')">
                    <a class="nav-link active" href="/pociag/list"> Pociągi </a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ROLE_admin')">
                    <a class="nav-link active" href="/uzytkownik/list"> Użytkownicy </a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ROLE_admin')">
                    <a class="nav-link active" href="/bilet/list"> Bilety </a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ROLE_admin')">
                    <a class="nav-link active" href="/znizka/list"> Zniżki </a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ROLE_user') and !hasRole('ROLE_maszynista') and !hasRole('ROLE_admin')">
                    <a class="nav-link active" href="/klient/edit"> Profil </a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ROLE_user') and !hasRole('ROLE_maszynista') and !hasRole('ROLE_admin')">
                    <a class="nav-link active" href="/klient/tickets"> Bilety </a>
                </li>

                <li class="nav-item" sec:authorize="!hasRole('ROLE_admin')">
                    <a class="nav-link active" href="/kursy"> Kursy </a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ROLE_maszynista')">
                    <a class="nav-link active" href="/obsluga/courses"> Obsługa </a>
                </li> 
            </ul>

            <form class="form-inline" sec:authorize="!isAuthenticated()">
                <a href="/register" class="mr-2 btn btn-light" role="button">Rejestracja</a>
                <a href="/login"  class="mr-2 btn btn-success" role="button">Logowanie</a> 

            </form>	
            <form  sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
                <button class="btn btn-success" type="submit" >Wyloguj</a>
            </form>
        </div>
    </nav>
</header>