<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
    <head>
        <title>Strona Główna</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div class="row">
                <div class="col-md-4 my-2">
                    <div class="h5">Obsługa adresów:</div>
                        <a class="font-weight-bold" href="adres/list">Wypisz</a>     
                </div>                
            </div>     
        </div>     
    </body>
</html>
