<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}"> 
    <head>
        <title>Edycja zniżki</title>
    </head>
    <body>
        <div layout:fragment="content" class="container mt-2">
            <form th:action="@{|/znizka/edit/${id}|}" method="POST" th:object="${znizka}">
                <div class="row">                 
                    <div class="col-md-4 offset-md-4 text-center">                         
                        <div class="form-group">    
                            <label> Opis </label>
                            <input class=form-control type="text" id="opis" th:field="${znizka.opis}" required/>  
                            <div class="text text-danger" th:if="${#fields.hasErrors('opis')}" th:errors="${znizka.opis}"></div>                   
                        </div>    
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">  
                        <div class="form-group">    
                            <label> Procent zniżki </label> 
                            <input class=form-control type="number" min="0" max="100" th:field="${znizka.procentZnizki}" required/> 
                        </div>  
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">  
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
