<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">  
    <head>
        <title>Dodaj adres</title>
    </head>
    <body>
        <div layout:fragment="content" class="container fill mt-2">
            <form th:action="@{/adres/add}" method="POST" th:object="${adres}">
                <div class="row">                 
                    <div class="col-md-4 offset-md-4 text-center">                         
                        <div class="form-group">   
                            <label> Ulica </label>
                            <input class="form-control" type="text" id="ulica" th:field="${adres.ulica}" required/>
                            <div class="text text-danger" th:if="${#fields.hasErrors('ulica')}" th:errors="${adres.ulica}"></div>
                        </div>    
                    </div>    
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">  
                        <div class="form-group">    
                            <label> Numer domu </label>
                            <input class=form-control type="number" min="1" id="numerDomu" th:field="${adres.numerDomu}" required/>          
                            <div class="text text-danger" th:if="${#fields.hasErrors('numerDomu')}" th:errors="${adres.numerDomu}"></div>
                        </div>  
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">  
                        <div class="form-group">    
                            <label> Numer mieszkania </label>
                            <input class=form-control type="number" min="1" id="numerMieszkania" th:field="${adres.numerMieszkania}" placeholder="Opcjonalne"/>            
                            <div class="text text-danger" th:if="${#fields.hasErrors('numerMieszkania')}" th:errors="${adres.numerMieszkania}"></div>
                        </div> 
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">  
                        <div class="form-group">    
                            <label> Kod pocztowy </label>
                            <input class=form-control type="text" id="kodPocztowy" th:field="${adres.kodPocztowy}" required/>            
                            <div class="text text-danger" th:if="${#fields.hasErrors('kodPocztowy')}" th:errors="${adres.kodPocztowy}"></div>
                        </div> 
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">  
                        <div class="form-group">    
                            <label> Miejscowość </label>
                            <input class=form-control type="text" id="miejscowosc" th:field="${adres.miejscowosc}" required/>            
                             <div class="text text-danger" th:if="${#fields.hasErrors('miejscowosc')}" th:errors="${adres.miejscowosc}"></div>
                       </div> 
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">  
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
