<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">  
    <head>
        <title>Edycja adresu</title>
    </head>
    <body>
        <div layout:fragment="content" class="container mt-2">
            <form method="POST" th:object="${adres}">                
                <div class="row" >                 
                    <div class="col-md-4 offset-md-4 text-center">                         
                        <div class="form-group">                                          
                            <label> Ulica </label>
                            <input class=form-control type="text" th:field="${adres.ulica}" required/>           
                        </div>    
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">  
                        <div class="form-group">    
                            <label> Numer domu </label>
                            <input class=form-control type="number" min="1" th:field="${adres.numerDomu}" required/>          
                        </div>  
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">  
                        <div class="form-group">    
                            <label> Numer mieszkania </label>
                            <input class=form-control type="number" min="1" th:field="${adres.numerMieszkania}"/>            
                        </div> 
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">  
                        <div class="form-group">    
                            <label> Kod pocztowy </label>
                            <input class=form-control type="text" th:field="${adres.kodPocztowy}" required/>            
                        </div> 
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">  
                        <div class="form-group">    
                            <label> Miejscowość </label>
                            <input class=form-control type="text" th:field="${adres.miejscowosc}" required/>            
                        </div> 
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">  
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </body>
</html>
