<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">     
    <head>
        <title>Lista adresów</title>               
    </head>

    <body>
        
        <div layout:fragment="content" class="container">
            <div class="row">
                <div class="col-md-12 my-2">
                    <h4>   <strong th:text="${header}"/>  </h4>  
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <a href="/" class="btn btn-primary" role="button">Strona główna</a>
                    <a href="add" class="btn btn-success" role="button">Dodaj adres</a>
                </div>
            </div>
            <div class="table-responsive mt-2">
                <table class="table table-bordered table-striped">          
                    <thead class="thead-dark">
                        <tr  class="active">
                            <th>Ulica</th>  
                            <th>Numer domu</th>  
                            <th>Numer mieszkania</th>
                            <th>Kod pocztowy</th>
                            <th>Miejscowość</th>  
                            <th>Akcje</th>
                        </tr>

                    </thead>
                    <tbody>                       
                        <tr th:each ="adres : ${adresList}">                                     
                            <td> <b  th:text="${adres.ulica}">...</b> </td>
                            <td> <b  th:text="${adres.numerDomu}">...</b> </td>
                            <td> <b  th:text="${adres.numerMieszkania}">...</b> </td>
                            <td> <b  th:text="${adres.kodPocztowy}">...</b> </td>
                            <td> <b  th:text="${adres.miejscowosc}">...</b> </td>   
                            <td>
                                <a class="font-weight-bold" style="text-decoration: none" th:href="@{'edit/' + ${adres.idAdresu}}">Edytuj</a>
                                 &nbsp; &nbsp;
                                <a class="font-weight-bold" style="text-decoration: none" th:href="@{'delete/' + ${adres.idAdresu}}">Usuń</a>
                            </td>               
                        </tr>
                    </tbody>          
                </table>    
            </div>    
        </div>
    </body>
</html>

