<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">     
    <head>
        <title>Profil</title>               
    </head>
    <body>       
        <div layout:fragment="content" class="container mt-2">
            <div class="row">
                <div class="col-md-4">
                    <p th:text="'Witaj, ' + ${email}"></p>
                </div>
            </div>
        </div>
    </body>
</html>
